<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Efficiency Predictor</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
    <div class="container">
        <h1>Select Efficiency Type</h1>
        <a href="{{ url_for('predict_heat') }}" class="btn btn-primary">Predict Heat Efficiency</a>
        <a href="{{ url_for('predict_cool') }}" class="btn btn-primary">Predict Cool Efficiency</a>
    </div>
</body>
</html>
